In [30]:
import pandas as pd
# Estruturas com dataframes 

dados = {
    'nome': ['ana', 'bruno', 'carlos'],
    'idade': [25,30,22],
    'cidade': ['SP', 'RJ', 'CE']
}

df = pd.DataFrame(dados)
print(df)


print(df['idade'].mean()) #media

     nome  idade cidade
0     ana     25     SP
1   bruno     30     RJ
2  carlos     22     CE
25.666666666666668

In [9]:
dados = [
     ['ana', 'bruno', 'carlos'],
     [25,30,22],
     ['SP', 'RJ', 'CE']
]



df1 = pd.DataFrame(dados, columns= ['nome', 'idade', 'cidade'])
df1

  nome  idade  cidade
0  ana  bruno  carlos
1   25     30      22
2   SP     RJ      CE

In [16]:
#Ex3 - Transformar o pandas series em dataframe

s1 = pd.Series({'nome': 'ana', 'idade': 25, 'cidade': 'SP'})
s2 = pd.Series({'nome': 'an', 'idade': 22, 'cidade': 'SP'})
s3 = pd.Series({'nome': 'a', 'idade': 24, 'cidade': 'SP'})
print(s1,s2,s3)
df = pd.DataFrame([s1,s2,s3])
df

nome      ana
idade      25
cidade     SP
dtype: object nome      an
idade     22
cidade    SP
dtype: object nome       a
idade     24
Cidade    SP
dtype: object

  nome  idade cidade Cidade
0  ana     25     SP    NaN
1   an     22     SP    NaN
2    a     24    NaN     SP

In [31]:
#usando numpy
import numpy as np

dados = np.array ([
    ['ana', 25, 'SP'],
    ['carlos',30,'RJ'],
    ['bruno', 20, 'CE']
])

df = pd.DataFrame(dados, columns=['nome', 'idade', 'cidade'])
df

print(df.describe())

       nome idade cidade
count     3     3      3
unique    3     3      3
top     ana    25     SP
freq      1     1      1

In [49]:
dados = {
    'nome': ['ana', 'bruno', 'carlos'],
    'idade': [25,30,22],
    'cidade': ['SP', 'RJ', 'CE']
}

df = pd.DataFrame(dados)
print(df['idade'].mean())
print(df['cidade'].value_counts())

25.666666666666668
cidade
SP    1
RJ    1
CE    1
Name: count, dtype: int64

In [63]:
#print(df.loc[3])

#print(df[0:2])

df['Estado']= ['São Paulo',  'Rio de Janeiro', 'Ceará']


df.loc[0, 'idade']= 27
df.loc[1, 'cidade']= 'MG'

df

     nome idade          Estado cidade
0     ana    27       São Paulo    NaN
1   bruno    MG  Rio de Janeiro     MG
2  carlos    22           Ceará    NaN

In [60]:
#excluindo uma coluna
df.drop('cidade', axis=1, inplace=True)
df

     nome idade          Estado
0     ana    26       São Paulo
1   bruno    MG  Rio de Janeiro
2  carlos    22           Ceará

In [76]:
#Estrutura de busca binária

def busca_binaria(lista,alvo):
    1, h = 0, len(lista) -1
    iteracao = 0

    while 1<=h:
        iteracao = +1
        m=(1+h)// 2

        if lista[m] == alvo:
            return m
        elif lista[m]<alvo:
            l = m+ 1
        else:
            h = m-1
    return -1
lista = [11,17,19,45,50,71,95]
alvo = 50

resultado = busca_binaria(lista,alvo)
print(resultado)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2034638914.py, line 4)

In [80]:
df = pd.DataFrame(dados)

df['categoria']= df['idade'].apply(lambda x: 'adulto' if x>= 25 else 'jovem')

#uso da função map

estados = {'SP': 'São Paulo', 'RJ': 'Rio de Janeiro', 'CE': 'Ceará'}

df['Estado']= df['cidade'].map(estados)

df

     nome  idade cidade categoria          Estado
0     ana     25     SP    adulto       São Paulo
1   bruno     30     RJ    adulto  Rio de Janeiro
2  carlos     22     CE     jovem           Ceará

In [84]:
#uso da funçao where em python

df['filtro_idade']= df['idade'].where(df['idade']>22)
df

     nome  idade cidade categoria          Estado  filtro_idade
0     ana     25     SP    adulto       São Paulo          25.0
1   bruno     30     RJ    adulto  Rio de Janeiro          30.0
2  carlos     22     CE     jovem           Ceará           NaN

In [89]:
#uso da função query

df_filtrado = df.query("cidade=='SP'")
df_filtrado

df.grouby('cidade')('nota').agg(['mean', 'max', 'min'])

AttributeError: 'DataFrame' object has no attribute 'grouby'

In [92]:
dados = {
    'nome': ['ana', 'bruno', 'carlos'],
    'idade': [25,30,22],
    'cidade': ['SP', 'RJ', 'CE']
}

df=pd.DataFrame(dados)


df.grouby('cidade')['nota'].agg(['mean', 'max', 'min'])

AttributeError: 'DataFrame' object has no attribute 'grouby'

In [91]:
media_por_cidade = df.groupby('cidade')['nota'].agg(['mean', 'min', 'max'])

KeyError: 'Column not found: nota'