In [3]:
import pandas as pd

In [9]:
#Try,except,finally

dados= {
        'produto': ['Notebook', 'Mouse', 'Teclado', 'Monitor', 'Webcam'],
        'lucro': [300,50,80,200,None],
        'ano': [2022,2022,2022,2022,2022]
}

df= pd.DataFrame(dados)

try: 
    media=df['lucro'].mean()
except KeyError:
    print("A coluna não exite no dataframe")

df

    produto  lucro   ano
0  Notebook  300.0  2022
1     Mouse   50.0  2022
2   Teclado   80.0  2022
3   Monitor  200.0  2022
4    Webcam    NaN  2022

In [12]:
for coluna in ['vendas', 'lucro']:
    try:
        media= df[coluna].mean()
        print(media)
    except KeyError:
        print("Coluna não  presemte no Dataframe")

Coluna não  presemte no Dataframe
157.5

In [7]:
try:
    df['margem']= df['lucro']/ df['vendas']
except ZeroDivisionError:
    print("Erro na divisão, pois etá tentando fazer uma divisão de m número por zero!")
except Exception as e:
    print(f"Outro erro ao calcular a margem {e}")
else:
    print("Margem calculada com sucesso")
finally:
    print("Fim das tentativas")

Outro erro ao calcular a margem 'vendas'
Fim das tentativas

In [ ]:
def calcular_media(df, coluna):
    try:
        media=df[coluna].mean()
        return f"'Média da colus {coluna}': media:.2f"
    except KeyError:
        return f"Erro a coluna {coluna} não existe"

In [ ]:
def converter_coluna_para_inteiro(df,coluna):
    try:
        df[coluna]=df[coluna].astype(float)
        return f"Conversão da coluna '{coluna}' foi realizada com sucesso!"
    except KeyError:
        return f"Erro: a colua '{coluna}' não existe"
    except ValueError:
        return f"Erro a coluna '{coluna}' possui valores não numérico!"
    print(converter_coluna_para_inteiro(df, 'taxav                                                                                                                                                                                                                                                                     '))